@charset "UTF-8";
/* 空值 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

nav {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff; }

footer {
  background-color: #fff; }

@media all and (min-width: 1200px) {
  /* 桌機 */
  .wrappers {
    font-size: 200px; }
    .wrappers span {
      background-color: #fff;
      display: block; } }

@media all and (min-width: 996px) {
  /* 平板 */
  .wrappers {
    font: 100px; } }

@media all and (min-width: 720px) {
  /* 手機 */
  .wrappers {
    font: 100px; } }

body {
  font-size: 14px;
  font-family: "arial" san-serif;
  padding: 10px;
  color: #8c8c8c; }
  body h1 {
    font-size: 74px; }
  body h2 {
    font-size: 58px; }
  body h3 {
    font-size: 52px; }
  body h4 {
    font-size: 25.2px; }
  body h5 {
    font-size: 14px; }

div {
  font-size: 14px; }

.wrappers {
  width: 100%;
  background-color: #ff7f07;
  display: block;
  min-height: 800px; }
  .wrappers h1 {
    font-size: 70px;
    color: #fff; }
    .wrappers h1 span {
      font-size: 14px;
      font-weight: 300;
      display: block;
      position: relative;
      left: 5px; }

h2 {
  font-size: 56px; }

.box-10 {
  margin: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px; }

.box-all {
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.box {
  width: 100px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #fff; }

.box-1 {
  width: 300px;
  height: 400px;
  background-color: #fa0202;
  border: 1px solid #fa0202; }

#box-8 {
  width: 500px;
  height: 300px;
  background-color: #444;
  border: 1px solid #444; }

#box-default {
  width: 100px;
  height: 300px;
  background-color: #eee;
  border: 1px solid #eee; }

.borderline {
  width: 100px;
  height: 50px;
  border: 1px solid; }

.section {
  width: 20rem;
  height: -90px;
  font-size: 100px;
  font: 5em; }

.num {
  width: 0px; }

.nav ul li {
  width: 100px;
  margin: 10px;
  display: inline-block; }
  .nav ul li a {
    color: red; }
    .nav ul li a:hover {
      color: blue; }
    .nav ul li a:active {
      color: green; }
    .nav ul li a::before, .nav ul li a::after {
      content: '';
      background-color: #fff; }

.btn {
  width: 60px;
  padding: 10px;
  text-align: center;
  background-color: #f7fc00;
  font-size: 14px;
  cursor: pointer;
  margin: 2px;
  display: inline-block;
  transition: all .4s; }
  .btn:hover {
    background: #939600; }

.btn-middle {
  width: 110px;
  padding: 12px;
  text-align: center;
  background-color: #a8f000;
  font-size: 17px;
  cursor: pointer;
  margin: 2px;
  display: inline-block;
  transition: all .4s; }
  .btn-middle:hover {
    background: #618a00; }

.btn-wide {
  width: 150px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  font-size: 21px;
  cursor: pointer;
  margin: 2px;
  display: inline-block;
  transition: all .4s; }
  .btn-wide:hover {
    background: #cccccc; }

.box_1 {
  width: 1px; }

.box_2 {
  width: 2px; }

.box_3 {
  width: 3px; }

.box_4 {
  width: 4px; }

.box_5 {
  width: 5px; }

.box_6 {
  width: 6px; }

.box_7 {
  width: 7px; }

.box_8 {
  width: 8px; }

.box_9 {
  width: 9px; }

.box_10 {
  width: 10px; }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  display: inline-block;
  background-color: #fff131;
  height: 30px; }

.col-md-1 {
  width: 8%; }

.col-md-2 {
  width: 16%; }

.col-md-3 {
  width: 25%; }

.col-md-4 {
  width: 33%; }

.col-md-5 {
  width: 41%; }

.col-md-6 {
  width: 50%; }

.col-md-7 {
  width: 58%; }

.col-md-8 {
  width: 66%; }

.col-md-9 {
  width: 75%; }

.col-md-10 {
  width: 83%; }

.col-md-11 {
  width: 91%; }

.col-md-12 {
  width: 100%; }

.img_a1 {
  background-image: url("./img/a1.jpg"); }

.img_b1 {
  background-image: url("./img/b1.jpg"); }

.img_img2 {
  background-image: url("./img/img2.jpg"); }

.box-red {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #f70000; }

.box-blue {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #0004ff; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

@media all and (min-width: 1200px) {
  body {
    font-size: 30px; } }

@media all and (min-width: 996px) {
  body {
    font-size: 40px; } }

.boxlist {
  width: 5;
  height: 20px; }

.box-auto {
  width: 100px;
  margin: 10px auto 20px; }
