body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

section {
  width: 100vw;
  height: 100vh; }

.btn {
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: #8cfe01; }

.box {
  background-color: rgba(255, 255, 0, 0.913);
  width: 100px;
  height: 50px; }

.wrapper {
  width: 100%; }

.box03 {
  position: relative;
  top: 100px;
  left: 400px; }

.box02 {
  position: relative;
  top: 100px;
  left: 200px; }

.box04 {
  background-color: red; }

.boxother {
  background-color: #00ffa6; }

.bg2 {
  background-color: #f7d61b;
  transition: all 1s ease-in-out; }
  .bg2 .title {
    color: #f7d61b;
    text-align: center;
    font-size: 80px;
    position: relative;
    top: 120px; }
  .bg2.on {
    background-color: #2b0544; }

.bg3 {
  background-color: #858dff; }
  .bg3 .box {
    margin-bottom: 10px;
    width: 300px; }
