@import 'base/var';
@import 'mixins/mixin_func';
@import 'base/reset';

@import 'layout/header';
@import 'layout/footer';







body {
    font-size: $fontSize;
    font-family: $fontFamily;
    padding: 10px;
    color: $color;
    @include titleh1($fontSize);
}

div {
    font-size: $fontSize;
}

.wrappers {
    @include layout-full(1200, #333);

    h1 {
        font-size: $fontSize * 5;

        span {
            font-size: $fontSize;
            font-weight: 300;
            display: block;
            position: relative;
            left: 5px;
        }
    }
}

h2 {
    font-size: $fontSize *4;
}


.box-10 {
    @include margins();
    @include paddings();
}

.box-all {
    @include paddings();
    @include boxSizing();
}

.box {
    @include rect(100px, 30px, #fff)
}

.box-1 {
    @include rect(300px, 400px, rgb(250, 2, 2));
}

#box-8 {
    @include rect(500px, 300px, #444);
}

#box-default {
    @include rect(100px, 300px, #eee);
}

.borderline {
    @include borderline(100px);
}


//運算

.section {
    width: 10rem + 10rem;
    height: 10px - 100;
    font-size: 10 * 10px;
    font: (100 / 20) + em;
}

$num : 110;

@if $num <=100 {
    .num {
        width: 100px;
    }
}

@else if $num==80 {
    .num {
        width: 80px;
    }
}

@else {
    .num {
        width: 0px;
    }
}



.nav {
    ul {
        li {
            width: 100px;
            margin: 10px;
            display: inline-block;
            a {
                color: red;
                &:hover {
                    color: blue;
                }
                &:active {
                    color: green;
                }
                
            }

        }
    }


}