@import 'base/var';
@import 'mixins/mixin_func';
@import 'base/reset';

@import 'layout/header';
@import 'layout/footer';


body {
    font-size: $fontSize;
    font-family: $fontFamily;
    padding: 10px;
    color: $color;
}

div {
    font-size: $fontSize;
}

.wrappers {
    width: 1200px;
    background-color: rgb(255, 189, 67);
    margin: 0 auto;

    h1 {
        font-size: $fontSize * 5;

        span {
            font-size: $fontSize;
            font-weight: 300;
            display: block;
            position: relative;
            left: 5px;
        }
    }
}

h2 {
    font-size: $fontSize *4;
}


.box-10 {
    @include margins();
    @include paddings();
}

.box-all {
    @include paddings();
    @include boxSizing();
}

.box {
    @include rect(100px, 30px, #fff)
}

.box-1 {
    @include rect(300px, 400px, rgb(250, 2, 2));
}

#box-8 {
    @include rect(500px, 300px, #444);
}
#box-default {
    @include rect(100px, 300px, #eee);
}

.borderline {
    @include borderline(100px);
}