@import 'base/var';
@import 'mixins/mixin_func';
@import 'base/reset';



@import 'layout/header';
@import 'layout/footer';


//rwd
@import 'page/destop';
@import 'page/medium';
@import 'page/small';






body {
    font-size: $fontSize;
    font-family: $fontFamily;
    padding: 10px;
    color: $color;
    @include titleh1($fontSize);
}

div {
    font-size: $fontSize;
}

.wrappers {
    @include layout-full(100, rgb(255, 127, 7));
    min-height: 800px;

    h1 {
        font-size: $fontSize * 5;
        color: #fff;

        span {
            font-size: $fontSize;
            font-weight: 300;
            display: block;
            position: relative;
            left: 5px;
        }
    }
}

h2 {
    font-size: $fontSize *4;
}


.box-10 {
    @include margins();
    @include paddings();
}

.box-all {
    @include paddings();
    @include boxSizing();
}

.box {
    @include rect(100px, 30px, #fff)
}

.box-1 {
    @include rect(300px, 400px, rgb(250, 2, 2));
}

#box-8 {
    @include rect(500px, 300px, #444);
}

#box-default {
    @include rect(100px, 300px, #eee);
}

.borderline {
    @include borderline(100px);
}


//運算

.section {
    width: 10rem + 10rem;
    height: 10px - 100;
    font-size: 10 * 10px;
    font: (100 / 20) + em;

}

$num : 110;

@if $num <=100 {
    .num {
        width: 100px;
    }
}

@else if $num==80 {
    .num {
        width: 80px;
    }
}

@else {
    .num {
        width: 0px;
    }
}





.nav {
    ul {
        li {
            width: 100px;
            margin: 10px;
            display: inline-block;

            a {
                color: red;

                &:hover {
                    color: blue;
                }

                &:active {
                    color: green;
                }

                @include mode() {
                    background-color: #fff;
                }

                ;
            }

        }
    }
}


@include btn('.btn', 10px, 10px, rgb(247, 252, 0), $fontSize);
@include btn('.btn-middle', 110px, 12px, rgb(168, 240, 0), ceil($fontSize*1.2));
@include btn('.btn-wide', 150px, 15px, #fff, ceil($fontSize*1.5));


//through 跟 to 的差異
@mixin boxs($num) {
    @for $i from 1 through $num {
        .box_#{$i} {
            width: $i * 1px;
        }
    }
}

@include boxs(10);



%attr {
    display: inline-block;
    background-color: rgb(255, 241, 49);
    height: 30px;
}


@include grid(12) {
    @extend %attr;
    // display: inline-block;
    // background-color: rgb(255, 241, 49);
    // height: 20px;
}

// @mixin imgUrl($val) {
//     @each $var in $val {
//         .img_#{$var} {
//             background-image: url('./img/#{$var}.jpg');
//         }
//     }
// }


// @include imgUrl(a1  a2  a3 b2);

@mixin imgUrl($file , $link) {
    @if $file==jpg {
        @each $var in $link {
            .img_#{$var} {
                background-image: url('./img/#{$var}.jpg');
                @content;
            }
        }
    }

    @else if $file==png {
        @each $var in $link {
            .img_#{$var} {
                background-image: url('./img/#{$var}.png');
                @content;
            }
        }
    }
}

;

@include imgUrl(jpg , a1 b1 img2 );
// .wrapper {

//     @include imgUrl(jpg , a1 b1 img2 );
// }
// .wrapper-about {
//     @include imgUrl(png , a12 b12 img3 ){
//       width: 100%;
//     };
// }


// .wrapper-contact {
//     @include imgUrl(jpg , c1 cv12 img4 ) {
//     display: block;
//     }
// }

// ;



@mixin rectbox() {
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
}

%rectbox {
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
}

.box-red {
    //   @extend %rectbox;
    @include rectbox();
    background-color: #f70000;

}

.box-blue {
    // @extend %rectbox;
    @include rectbox();
    background-color: #0004ff;
}

// .box-red {
//     width: 100px;
//     height: 30px;
//     margin-bottom: 10px;
//     background-color: #f70000;
// }

// .box-blue {
//     width: 100px;
//     height: 30px;
//     margin-bottom: 10px;
//     background-color:  #0004ff;
// }


// $nums : 10px 20px 30px 40px;

// .box {
//    margin:length($nums);
// }

$nums : 10px 20px 30px;
$color: #fff;

@include title_h1($titles);


$breakpoint-rwd :(moblie : 721px,
    medium : 996px,
    desktop : 1200px,
    xl-desktop : 2000px
);


@mixin rwd-each($a) {
    @each $viewpoint,$num in $breakpoint-rwd {
        @if $a==$viewpoint {
            @media all and (min-width : $num) {
                @content
            }
        }
    }
};


@include rwd-each(desktop){

body {
   font-size: 30px; 
  }
}


