body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    overflow-x: hidden;


}

section {
    width: 100vw;
    height: 100vh;
}


.btn {
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: rgb(140, 254, 1);
}


.box {
    background-color: rgba(255, 255, 0, 0.913);
    width: 100px;
    height: 50px;
}

.wrapper {
    width: 100%;
}


.box03 {

    position: relative;
    top: 100px;
    left: 400px;
}


.box02 {
    position: relative;
    top: 100px;
    left: 200px;
}

.box04 {
    background-color: rgb(255, 0, 0);
}

.boxother {
    background-color: rgb(0, 255, 166);
}

.bg2 {
    background-color: rgb(247, 214, 27);
    transition: all 1s ease-in-out;

    .title {
        color: rgb(247, 214, 27);
        text-align: center;
        font-size: 80px;
        position: relative;
        top: 120px;
    }

    &.on {
        background-color: rgb(43, 5, 68);
    }
}


.bg3 {
    background-color: rgb(133, 141, 255);

    .box {
        margin-bottom: 10px;
        width: 300px;
    }
}

.bg4 {
    background-color: rgb(204, 164, 255);
    background-image: url(https://placem.at/people);
    background-size: cover;
    .box {
        margin-bottom: 10px;
        width: 300px;
    }
    .boxpallax1 {
        position: relative;
        top: 300px;
        left: 600px;
    }

    .boxpallax2 {
        position: relative;
        top:300px;
        left: 700px;
    }

    .boxpallax3 {
        position: relative;
        top: 200px;
        left: 800px;
    }



}

#text {
    color: #fff;
}