@mixin margins() {
    margin: 20px;
    @include boxSizing();
}

@mixin marginAuto() {
        margin: 0 auto;
}

@mixin paddings() {
    padding: 20px;
}

@mixin boxSizing {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


@mixin h1title($fontSize) {
    h1 {
        font-size: $fontSize * 5;

        span {
            font-size: $fontSize * 2;
        }
    }
}


// h2標題
@mixin h2title($fontSize) {
    h2 {
        font-size: $fontSize * 5;

        span {
            font-size: $fontSize * 2;
        }
    }
}


//預設值
// @include rect(100px, 30px, #fff)
@mixin rect($width:400px, $height:300px, $bgc:#fff) {
    width: $width;
    height: $height;
    background-color: $bgc;
    border: 1px solid $bgc;
}

// 空值
/* 空值 */
@mixin borderline($width, $borderColor:null) {
    width: $width;
    height: $width * 0.5;
    border: 1px solid $borderColor;
}


// 標題組件

@mixin titleh1($fontSize){
    h1 {
        font-size: round($fontSize * 5.3);//四捨五入
    }

    h2 {
        font-size: floor($fontSize * 4.2);//無條件捨去
    }

    h3 {
        font-size: ceil($fontSize * 3.7);//無條件進位
    }

    h4 {
        font-size: $fontSize * 1.8;
    }

    h5 {
        font-size: $fontSize * 1;
    }
}


//layout

@mixin layout-full($width:100 , $bgc:null) {
    @if $width==100  {
        width: 100%; 
        background-color: $bgc;
        display: block;
    }
    @else {
        width: $width + px;
        background-color: $bgc;
        @include marginAuto();
    }
}


@mixin mode(){
    &::before , &::after{
       content: '';
       @content 
    }
};

@mixin btn( $class, $w, $p, $bgc, $fontSize) {
    #{$class}{
        width: $w;
        padding: $p;
        text-align: center;
        background-color: $bgc;
        font-size: $fontSize;
        cursor: pointer;
        margin: 2px;
        display: inline-block;
        transition: all .4s;
        &:hover{
            background: darken($bgc, 20);
            // background: lighten($bgc, 30);
        }
    }
}
