$fontSize : 14px;
$color : hsl(0, 0%, 55%);
$fontFamily: 'arial'san-serif;


$desktop : 1200px;
$medium : 996px;
$small : 720px;

$titles: (
    h1 : 50px,
    h2 : 30px,
    h3: 20px,
    h4: 18px,
    h5 : 14px
    );